In [1]:
# encoding variables

In [78]:
import pandas as pd

df = pd.read_csv('../data/processed/processed_train_values.csv') 
df_test = pd.read_csv('../data/raw/test_values.csv')

In [79]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder


# Drop columns not useful for modeling
df = df.drop(columns=['is_outlier'])

# List of categorical columns to label encode
categorical_cols = [
    'land_surface_condition', 'foundation_type', 'roof_type',
    'ground_floor_type', 'other_floor_type', 'position',
    'plan_configuration', 'legal_ownership_status'
]

# Initialize LabelEncoder
le = LabelEncoder()

# Apply label encoding to each categorical column
for col in categorical_cols:
    df[col] = le.fit_transform(df[col])

# Check the encoded columns
print(df[categorical_cols].head())

   land_surface_condition  foundation_type  roof_type  ground_floor_type  \
0                       2                2          0                  0
1                       1                2          0                  3
2                       2                2          0                  0
3                       2                2          0                  0
4                       2                2          0                  0

   other_floor_type  position  plan_configuration  legal_ownership_status
0                 1         3                   2                       2
1                 1         2                   2                       2
2                 3         3                   2                       2
3                 3         2                   2                       2
4                 1         2                   2                       2

In [80]:
df

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,...,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other,damage_grade,superstructure_sum,secondary_use_sum
0,802906,6,487,12198,2,30,6,5,2,2,...,0,0,0,0,0,0,0,3,2,0
1,28830,8,900,2812,2,10,8,7,1,2,...,0,0,0,0,0,0,0,2,1,0
2,94947,21,363,8973,2,10,5,5,2,2,...,0,0,0,0,0,0,0,3,1,0
3,590882,22,418,10694,2,10,6,5,2,2,...,0,0,0,0,0,0,0,2,3,0
4,333020,8,558,6089,2,10,9,5,2,2,...,0,0,0,0,0,0,0,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125110,207683,10,1382,1903,2,25,5,5,2,2,...,0,0,0,0,0,0,0,2,2,0
125111,226421,8,767,8613,2,5,13,5,2,2,...,0,0,0,0,0,0,0,2,1,1
125112,827012,8,268,4718,2,20,8,5,2,2,...,0,0,0,0,0,0,0,3,1,0
125113,669485,17,715,2060,2,0,6,5,2,2,...,0,0,0,0,0,0,0,3,1,0
125114,151409,26,39,1851,2,10,14,6,2,2,...,0,0,0,0,0,0,0,2,1,0

In [81]:
df.shape

(125115, 42)

In [82]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder


# Drop columns not useful for modeling

# List of categorical columns to label encode
categorical_cols = [
    'land_surface_condition', 'foundation_type', 'roof_type',
    'ground_floor_type', 'other_floor_type', 'position',
    'plan_configuration', 'legal_ownership_status'
]

# Initialize LabelEncoder
le = LabelEncoder()

# Apply label encoding to each categorical column
for col in categorical_cols:
    df_test[col] = le.fit_transform(df_test[col])

# Check the encoded columns
print(df_test[categorical_cols].head())

   land_surface_condition  foundation_type  roof_type  ground_floor_type  \
0                       2                2          0                  0
1                       2                2          0                  0
2                       2                2          0                  0
3                       2                2          2                  2
4                       2                2          1                  0

   other_floor_type  position  plan_configuration  legal_ownership_status
0                 1         2                   2                       2
1                 1         2                   2                       2
2                 1         2                   2                       2
3                 0         3                   2                       2
4                 1         3                   2                       2

In [83]:
df_test

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
0,300051,17,596,11307,3,20,7,6,2,2,...,0,0,0,0,0,0,0,0,0,0
1,99355,6,141,11987,2,25,13,5,2,2,...,1,0,0,0,0,0,0,0,0,0
2,890251,22,19,10044,2,5,4,5,2,2,...,0,0,0,0,0,0,0,0,0,0
3,745817,26,39,633,1,0,19,3,2,2,...,0,0,1,0,0,0,0,0,0,0
4,421793,17,289,7970,3,15,8,7,2,2,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86863,310028,4,605,3623,3,70,20,6,2,2,...,1,0,0,0,0,0,0,0,0,0
86864,663567,10,1407,11907,3,25,6,7,0,2,...,0,0,0,0,0,0,0,0,0,0
86865,1049160,22,1136,7712,1,50,3,3,2,2,...,0,0,0,0,0,0,0,0,0,0
86866,442785,6,1041,912,2,5,9,5,2,2,...,0,0,0,0,0,0,0,0,0,0
86867,501372,26,36,6436,2,10,11,4,2,2,...,0,0,0,0,0,0,0,0,0,0

In [84]:
df.to_csv('../data/processed/train.csv',index=False)
df_test.to_csv('../data/processed/test.csv',index=False)

In [85]:
df_test

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
0,300051,17,596,11307,3,20,7,6,2,2,...,0,0,0,0,0,0,0,0,0,0
1,99355,6,141,11987,2,25,13,5,2,2,...,1,0,0,0,0,0,0,0,0,0
2,890251,22,19,10044,2,5,4,5,2,2,...,0,0,0,0,0,0,0,0,0,0
3,745817,26,39,633,1,0,19,3,2,2,...,0,0,1,0,0,0,0,0,0,0
4,421793,17,289,7970,3,15,8,7,2,2,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86863,310028,4,605,3623,3,70,20,6,2,2,...,1,0,0,0,0,0,0,0,0,0
86864,663567,10,1407,11907,3,25,6,7,0,2,...,0,0,0,0,0,0,0,0,0,0
86865,1049160,22,1136,7712,1,50,3,3,2,2,...,0,0,0,0,0,0,0,0,0,0
86866,442785,6,1041,912,2,5,9,5,2,2,...,0,0,0,0,0,0,0,0,0,0
86867,501372,26,36,6436,2,10,11,4,2,2,...,0,0,0,0,0,0,0,0,0,0